ul.breadcrumbs {
    /*padding: 5px;*/
    /*float: left;*/
    /*color: white;*/
    /*padding-top: 25px;*/
    /*margin-left: 40px;*/
    margin: 0;
    padding: 0;
}

ul.breadcrumbs li {
    list-style: none;
    /*float: left;*/
    display: inline-block;
    margin: 0 5px;
}

ul.breadcrumbs li:not(.divider) {
    font-weight: 900;
    /*padding-top: 9px;*/
}

ul.breadcrumbs li.divider {
    /*font-size: 25px;*/
    font-weight: 900;
}

ul.breadcrumbs a:focus,
ul.breadcrumbs a:hover {
    color: #337ab7;
    text-decoration: underline;
}