    .search-pane {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.search-pane .search-parameter {
    flex: 1;
    margin: 0 20px;
}

.search-pane .select2-container {
    width: 100% !important;
}

.results-pane {

}

.lity-hide {
    display: none !important;
}

.featherlight .featherlight-inner {
    display: flex !important;
    flex-direction: column;
}

.marker-lightbox {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
    background-color: green;
    padding: 15px;
}

.marker-lightbox > .column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.select2-dropdown {
    z-index: 9999;
}

.results-pane .result-counts {
    text-align: center;
    margin: 10px;
    opacity: 0.8;
}

@media (max-width: 1000px) {
    .search-pane {
        flex-wrap: wrap;
    }
    .search-pane .search-parameter
    {
        flex: initial;
        width: 90%;
        margin-bottom: 10px;
    }
}