
.featherlight .featherlight-content .lightbox {
    display: flex;
}

.featherlight .featherlight-content {
    background-color: #5BC0B6;
    border-radius: 5px;
    border: 2px solid white;
    max-width: 90%;
    width: 900px;
}

.featherlight iframe {
    display: block;
    width: 450px;
    height: 400px;
    margin: 0 auto;
    max-width: 90%;
}

.lightbox {
    display: none;
    flex-direction: column;
}

.lightbox .top {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.lightbox .top .name {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 36px;
}

.lightbox .top .tagline {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    color: white;
}

.lightbox .middle {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.lightbox .middle .content {
    flex: 1;
    margin-right: 40px;
    max-width: 100%;
}

.lightbox .middle .content .other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.lightbox .middle .content .other img.youth-approved-icon {
    height: 0%;
}

.lightbox .middle .content .description {
    background-color: #5BC0B6;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    line-height: 24px;
}

.lightbox .middle .content .description * {
    color: white !important;
    background-color: #5BC0B6 !important;
}

.lightbox .middle .content .other ul.fields {
    padding: 0;
}

.lightbox .middle .content .other .fields li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.lightbox .middle .content .other .fields li > *:not(:last-child) {
    margin-right: 15px;
}

.lightbox .middle .content .other .fields li,
.lightbox .middle .content .other .fields li > * {
    color: white !important;
    background-color: #5BC0B6 !important;
}

.lightbox .middle .content .other .fields li i {
    width: 40px;
    text-align: center;
}

.lightbox .middle .content .other .fields li strong {
    font-size: 12px;
    width: 75px;
}

.lightbox .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lightbox .bottom .section {
    width: 45%;
    margin-bottom: 40px;
}

.lightbox .bottom .section .title {
    display: block;
    position: relative;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4895;
    text-align: center;
    /*border: 2px solid #DFDFDF;*/
    border-radius: 3px;
    margin-bottom: 10px;
}

.lightbox .bottom .section .title span {
    position: relative;
    z-index: 10;
    padding: 0 15px;
    background-color: #3F4896;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.lightbox .bottom .section .title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: calc(100% - 30px);
    margin: 0 15px;
    border-bottom: 1px solid white;
    z-index: 2;
}

.lightbox .bottom .section .content,
.lightbox .bottom .section .content * {
    color: white !important;
    background-color: #5BC0B6 !important;
}

.lightbox .cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lightbox .cloud .element {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #464646;
    font-size: 13px;
}

@media (max-width: 1000px) {
    .lightbox .middle {
        flex-wrap: wrap;
        justify-content: center;
    }
    .lightbox .middle .content {
        margin-right: 0;
    }
    .lightbox .middle .content .other {
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .lightbox .bottom {
        flex-direction: column;
        align-items: center;
    }

    .lightbox .bottom .section {
        width: 100%;
    }

    .featherlight .featherlight-content {
        padding: 20px 20px 0;
    }
}

@media (max-width: 600px) {
    .featherlight iframe {
        height: 300px;
    }
}