.sidebar .head .logo a.small {
    display: none;
}

.sidebar .head .logo a.small img {
    border-radius: 0;
    padding: 0;
    width: 36px;
    opacity: 1;
}

@media (min-width: 700px) {
    .sidebar .head .logo a:hover img {
        opacity: 0;
        transition: 300ms all linear;
    }

    .sidebar .head .logo a:hover span {
        opacity: 1;
    }
}
@media (max-width: 700px) {
    .sidebar {
        width: 60px !important;
        flex: initial !important;
    }

    .sidebar .head .logo {
        margin: 0;
    }

    .sidebar .head .logo .large {
        display: none !important;
    }

    .sidebar .head .logo .small {
        display: block !important;
    }

    .sidebar ul.navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .sidebar .head .user {
        display: none;
    }

    .sidebar ul.navigation > li.heading {
        display: none;
    }

    .sidebar ul.navigation > li > a > span {
        display: none;
    }

    .sidebar ul.navigation > li > a > .icon {
        margin: 0;
    }

    .sidebar ul.dropdown-menu {
        left: 40px;
    }

    .wrapper .header-wrapper header .bottom .breadcrumb-wrapper .title {
        display: none;
    }
}